* {
    box-sizing: border-box;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #efefef;
    z-index: 100;
    width: 500px;
    height: 500px;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

.title {
    font-family: 'indie Flower', cursive;
    color: #fd2670;
    font-size: 20px;
}

body {
    background-color: #f5f7fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom: 50px;
}

.friendpic {
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 0.2);
    border-radius: 4px
}

.bubbly-button {
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
    border-radius: 3px;
    padding: 16px 18px 15px;
    white-space: nowrap;
}

.editProfile {
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
    border-radius: 3px;
    padding: 16px 18px 15px;
    white-space: nowrap;
}

.friendListTitle {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(129, 129, 166);
    /* border-radius: 3px; */
    background-color: rgb(129, 129, 166);
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 20px;
}

.friendInput {
    background-color: rgb(246, 237, 237);
    border-style: solid;
    border-width: 5px;
    /* border-radius: 5px; */
    border-color: rgb(129, 129, 166)
}

.bubbly-button:hover {
    /* background-color: #e6375a;
     */
    background-image: none !important;
    background-color: rgba(252, 153, 3, 0.7);
}



@media only screen and (min-width: 960px) {

    .container {
        width: 100%;
        display: flex;


        /* border-style: solid; */
        /* border-width: 5px;
        border-color: black; */
    }


}

.user_otherinfo {

    display: flex;
}

.other_text {
    margin: 10px;
}

.side {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 200px;
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    border-right: 2px solid #eeeeee;
    padding: 5px;
    /* background-image: linear-gradient(to bottom, #e7266d74, rgba(255, 192, 203, 0.352)) */
}

.side .header {
    background: linear-gradient(262deg, #ff7854, #fd2670);
    width: 100%;
    height: 80%;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 0.2);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.side .header .avatar img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 0.2);
}

.side .header .title {
    padding: 0 10px;
    color: #fff;
    font-size: 23px;
}

.inputbox1 {
    width: 25vw;
    /* border-radius: 7px; */
    /* display: block; */
    /* width: 100%; */
    height: calc(1.5em + 0.75rem + 2px);
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: 10px;
    position: absolute;
    top: auto;
    right: 40%;
    width: 240px;
}

.inputbox2 {
    width: 25vw;
    /* border-radius: 7px; */
    /* display: block; */
    /* width: 100%; */
    height: calc(1.5em + 0.75rem + 2px);
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: 10px;
    position: absolute;
    top: auto;
    /* : 40%; */
    width: 240px;
}

.inputbox:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.side .menu ul {
    display: flex;
    padding: 0 20px;
}

.side .menu ul li .nav-link {
    font-size: 30px;
    color: #fd5068;
    width: 150px;
}

.side .menu ul li {
    list-style: none;

}

.side .menu .active {
    border-bottom: 3px solid #fd5068;
    padding: 15px;
}

.side .messages {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.2 box-shadow
}

.side .messages .avatar img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    text-shadow: 1px 1px 3px #444;
    font-family: sans-serif;
    /* font-weight: 2px; */
    /* text-align: center; */
}


.side .messages .user {
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 35px;
    font-family: sans;
    text-align: center;

}

.side .messages .text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipse;
    padding: 0 10px;
    font-weight: 300;
    font-size: 15px;
    opacity: 0.8;
}

.acceptFriend {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.friend {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    width: 100%;
}



.side .messages:hover {
    box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
    border-right: 5px solid #fd5068;
}

.content {
    width: 100%;
    display: flex;
    /*padding: 260px 0;*/
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* background: rgba(255, 192, 203, 0.352); */
    background-image: linear-gradient(to bottom, #2f96dc74, rgba(255, 192, 203, 0.352))
}

.content .card {
    position: relative;
    height: fit-content;
    width: 500px;
}

.card {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 1px 20px 0 rgba(0, 20, 0.5);
    padding: 10px;
    margin-top:50px;
    margin-bottom: 50px;
}

.content .card .user .profile {
    position: absolute;
    bottom: 100;
    left: 20px
}

.content .card .user .hobby {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px #444;
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.otherinfo_item{
    margin:10px;
}



.content .card .user .name {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px #444;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.content .card .user .name span {
    font-size: 26px;

}

.content .card .local {
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
}

.content .card .local i {
    margin: 5px;
    color: #fff;
    position: relative;
    top: -60px;
}

.content .card .local span {
    color: #fff;
    padding: 0 10px;
    text-shadow: 1px 1px 3px #444;
    position: relative;
    top: -60px;
}

.content .buttons {
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
}

.content .buttons .no i {
    color: #fd2e79;
    font-size: 33px;
}

.content .buttons .star i {
    color: #2bb1ff;
    font-size: 22px;
}

.content .buttons .heart i {
    color: #11e298;
    font-size: 32px;
}



.no,
.star,
.heart {
    background-color: #fff;
    width: 70px;
    height: 70px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    margin: 20px;
    transition: 0.2s transform;
}

.no:hover,
.star:hover,
.heart:hover {
    transform: scale(1.1);
}

.content .buttons .star {
    width: 60px;
    height: 60px;
}

.user_otherinfo {
    display: flex;
    justify-content: space-between;
}

/*

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages1 { list-style-type: none; margin: 0; padding: 0; }
#messages1 > li { padding: 0.5rem 1rem; }
#messages1 > li:nth-child(odd) { background: #efefef; }
.list-chat {position: sticky; top: 0;}
.myself {text-align: left;}
.others {text-align: right;}

*/

/*css start with x, indicate usage in chatroom*/

.myProfile {
    /* background-color: white; */
    width: 70%;
    text-align: center;
}


.xcontainer {
    max-width: 500 !important;
    margin: auto;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
    border-radius: 80%;
}

.xmsg-header {
    border: 1px #f5f7fa;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #fd2670;
}

.xmsg-header-img {
    border-radius: 50%;
    width: 40px;
    margin-left: 5%;
    margin-top: 12px;
    float: left;
}

.xactive {
    width: 120px;
    float: left;
    margin-top: 10px;
}

.xactive h4 {
    font-size: 20px;
    margin-left: 10px;
    color: #f5f7fa;
}

.xactive h6 {
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #f5f7fa;
}

.xheader-icons {
    width: 120px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.xheader-icons .fa {
    color: #f5f7fa;
    cursor: pointer;
    margin: 10px;
}

.xchat-page {
    padding: 0 0 50px 0;
}

.xmsg-inbox {
    border: 1px solid #f5f7fa;
    overflow: hidden;
    padding-bottom: 30px;
}

.xmsg-page {
    height: 516px;
    overflow-y: auto;
}

.xreceived-chats-img {
    display: inline-block;
    width: 20px;

}

.xreceived-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.xreceived-msg-inbox {
    width: 57%;
}

.xreceived-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5pc 10px 5px 12px;
    width: 100%;
}

.xtime {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.xoutgoing-msg-inbox {
    width: 57%;
}

.xoutgoing-time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    text-align: end;
}

.xoutgoing-msg-inbox p {
    background: #fd2670 none repeat scroll 0 0;
    color: #777;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    font-size: 14px;
    margin: 0;
    color: #777;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.xoutgoing-msg-inbox {
    display: flex;
    float: right;
    width: 46%;
    margin-left: 47%;
}

.xoutgoing-chats-msg {
    display: flex;
    float: right;
    width: 46%;
    margin-left: 47%;
}

.xoutgoing-chats-img {
    /* display: flex; */
    width: 20px;
    margin-left: auto;
    float: right;
}

.xmsg-bottom {
    position: relative;
    height: 20px background-color #fd2670;
}

.xinput-group {
    /* float:right; */
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    
    width: 61% !important;
    background-color: #fd2670;
    position: absolute;
    bottom: 0;
    width: 20px;
    margin-left: auto;
    float: right;
}

.xform-control {
    border: none !important;
    border-radius: 20px !important;
}

.xinput-group-text {
    background: transparent !important;
    border: none !important;
}

.xinput-group .fa {
    color: rgb(56, 205, 216);
    float: right;
}

.xbottom-icons {
    float: left;
    margin-top: 17px;
    width: 30px !important;
    margin-left: 20px;
}


.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.user_info_nameNage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


/* .content .buttons{
    margin-top: 10px;
    height: fit-content;
    width:fit-content;
}
.content .buttons div {
    width: fit-content;
    height: fit-content;
}
.content .buttons .fas{
    font-size: 15px;
} */



/* .subtitle {
    font-size: 50px;
    color: red;
} */

@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* border-style: solid; */
        /* border-width: 5px;
        border-color: black; */
    }


}